

@media (orientation: landscape) and (max-width: 1024px){

  html{
    font-size: 14px;
  }
  @media (max-width: 854px){
    html{
      font-size: 10px;
    }
  }
  @media (max-width: 640px){
    html{
      font-size: 8px;
    }
  }
  @media (max-width: 320px){
    html{
      font-size: 5px;
    }
  }
  .changeBlock{
    width: 30%;
  }
  .changeBlock div{
    height: 70%;
  }
  @media (max-width: 640px){
    .changeBlock div{
      height: 50%;
    }
  }
  .footer_show{
    font-size: 1.1rem;
  }
  .menu_block{
    font-size: 1.5rem;
  }
  .menu_item svg{
    height: 5vh;
  }
  .footer_show{
    height: 15vh;
    margin-top: 1vh;
  }
  .block_1_main_skills{
    font-size: 1rem;
  }
  @media (max-width: 320px){
    .block_1_main_skills{
      font-size: 0.7rem;
    }
    .block_main_text{
      font-size: 1.2rem;
    }
  }
  #cert_back, #cert_next, #portfolio_back, #portfolio_next {
    width: 5%;
  }
  .block_2_slider, #slider_certs, #slider_certs img{
    height: 30vh;
  }
  .block_main p{
    font-size: 1.2rem;
    padding: 0 1% 0 1%;
  }
}

@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1440px){
  html{
    font-size: 15px;
  }
  .menu_item svg{
    height: 6vh;
  }
  .block_1_main_skills{
    font-size: 1.3rem;
  }
  .block_main_text{
    font-size: 1.5rem;
  }
  .block_2_slider, #slider_certs, #slider_certs img{
    height: 25vh;
  }
  .block_main p{
    font-size: 1.5rem;
    padding: 0 1% 0 1%;
  }
}



@media (orientation: portrait) and (max-width: 854px){

  html{
    font-size: 20px;
  }
  @media (max-width: 768px){
    html{
      font-size: 15px;
    }
  }
  @media (max-width: 600px){
    html{
      font-size: 12px;
    }
  }
  @media (max-width: 375px){
    html{
      font-size: 5px;
    }
  }
  .changeBlock{
    width: 30%;
  }
  .changeBlock div{
    height: 70%;
  }
  @media (max-width: 768px){
    .changeBlock div{
      height: 50%;
    }
  }
  .footer_show{
    font-size: 1.1rem;
    height: 15vh;
    margin-top: 1vh;
  }
  .menu_block{
    font-size: 1.5rem;
  }
  .menu_item svg{
    height: 5vh;
  }
  .block_top {
    flex-direction: column;
  }
  .block_1_main_skills{
    font-size: 1rem;
  }
  .block_main_text{
    font-size: 1.5rem;
  }
  @media (max-width: 320px){
    .block_1_main_skills{
      font-size: 0.7rem;
    }
    .block_main_text{
      font-size: 1.2rem;
    }
  }
  #cert_back, #cert_next, #portfolio_back, #portfolio_next {
    width: 5%;
  }
  .block_2_slider, #slider_certs, #slider_certs img{
    height: 15vh;
  }
  .block_main p{
    font-size: 1.2rem;
    padding: 0 1% 0 1%;
  }
  .block_2_main_slider, .block_3_main_slider{
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .block_2_slider{
    width: 80vw;
    height: 30vh;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .block_3_slider{

    height: 20vh;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  #slider_certs{
    width: 80vw;
    height: 320vh;
    left: 0;
    top: 0;
    align-items: flex-start;
  
    justify-content: space-around;
    flex-direction: column;
  }

  #slider_portfolio{
    height: 63vh;
    width: 100%;
    justify-content: start;
    flex-direction: column;
    top: 0;
    align-items: center;

  }

  #slider_certs img{
    width: 80vw;
    height: 30vh;       
  }

  .video{
    width: fit-content;
    height: 20vh;
  }
  
  #cert_back, #portfolio_back, #cert_next, #portfolio_next {
    width: 10%;
    transform: rotate(90deg);
  }

  .block_2_slider {
    width: 100%;
    height: 32vh;
  }

  .block_3_slider{
    height: 20vh;
    width: 100%;
    justify-content: start;
    align-items: center;
  }

  .hover-effect-btn{

    width: 80vw;
    height: 30vh;
  }

  .hover-effect-video{
    height: 20vh;
    width: 100%;
  }
  .button_vid {
    width: 100%;
    height: 100%;
    top: 0;
  }
}

@media (orientation: portrait) and (min-width: 855px) and (max-width: 1200px){
  .changeBlock{
    width: 30%;
  }
  .block_top {
    flex-direction: column;
  }
  .block_1_main_skills{
    font-size: 1.5rem;
  }
  .block_main_text{
    font-size: 1.8rem;
  }
  .block_2_slider, #slider_certs, #slider_certs img{
    height: 15vh;
  }
  .block_main p{
    font-size: 1.5rem;
    padding: 0 1% 0 1%;
  }
  .menu_item svg{
    height: auto;
    width: 15vw;
  }
  html{
    font-size: 20px;
  }
  .block_2_main_slider, .block_3_main_slider{
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .block_2_slider{
    width: 80vw;
    height: 30vh;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .block_3_slider{

    height: 20vh;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  #slider_certs{
    width: 80vw;
    height: 320vh;
    left: 0;
    top: 0;
    align-items: flex-start;
  
    justify-content: space-around;
    flex-direction: column;
  }

  #slider_portfolio{
    height: 63vh;
    width: 100%;
    justify-content: start;
    flex-direction: column;
    top: 0;
    align-items: center;

  }

  #slider_certs img{
    width: 80vw;
    height: 30vh;       
  }

  .video{
    width: fit-content;
    height: 20vh;
  }
  
  #cert_back, #portfolio_back, #cert_next, #portfolio_next {
    width: 10%;
    transform: rotate(90deg);
  }

  .block_2_slider {
    width: 100%;
    height: 32vh;
  }

  .block_3_slider{
    height: 20vh;
    width: 100%;
    justify-content: start;
    align-items: center;
  }

  .hover-effect-btn{

    width: 80vw;
    height: 30vh;
  }

  .hover-effect-video{
    height: 20vh;
    width: 100%;
  }
  .button_vid {
    width: 100%;
    height: 100%;
    top: 0;
  }

}

